body{
	font-family:'Freight Sans', 'Helvetica Neue', 'Segoe UI', helvetica, arial, sans-serif, !important;
	padding: 0px;
	margin: 0px;

}
.one{
	width:100%;
	height:500px;
	background:black;
	opacity:0.8;
}
.write{
	text-align:center;
	color:white;
	font-size:35px;
	padding-left:500px;
	font-family:Edwardian Script ITC;
	padding-top:220px;
	letter-spacing:3px;
}